#global-footer {
  color: $secondary-text-colour;
  background: $footer-background;
  padding: $gutter-narrow;
  border-top: $gutter-nano solid $secondary-text-colour;

  @media (min-width: 841px) {
    padding: $gutter-wide;
  }

  a {
    color: $white;
  }

  .crest {
    float: right;
    width: 125px;
  }
}
