#global-footer {
  color: $secondary-text-colour;
  background: $grey-3;
  border-top: $gutter-nano solid $secondary-text-colour;
  margin-top: $gutter-medium;
  padding-bottom: $gutter-medium;

  a {
    color: $white;
  }

  .crest {
    width: 62px;
  }
}
