html, body {
  width: 100vw;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  background-color: $footer-background;
}

body {
  background-color: $white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $gutter-narrow;
  margin: $gutter-narrow;

  @media (min-width: 481px) {
    grid-template-columns: repeat(8, 1fr);
  }

  @media (min-width: 841px) {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: $gutter-wide;
    margin: $gutter-wide;
  }
}
