#global-header {
  color: $white;
  background: $black;
  border-bottom: $gutter-nano solid $department-of-health;

  a {
    color: $white;
    font-weight: bold;
    text-decoration: none;
  }
}

// Phase banners and tags
// ==========================================================================

.phase-tag {
  @include phase-tag();
}
