.flag-informant {
  font-weight: $bold-weight;
  
  &:before {
    content: ' ';
    display: inline-block;
    position: relative;
    top: 0.1em;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    background-color: $department-of-health;
    border-radius: 100%;
  }
}

.panel {
  @include box-sizing(border-box);
  @extend %contain-floats;
  clear: both;
  border-left-style: solid;
  border-color: $border-colour;

  padding: $gutter-small;
  margin: $gutter-medium 0;

  :first-child {
    margin-top: 0;
  }

  :only-child,
  :last-child {
    margin-bottom: 0;
  }
}

.panel-border-wide {
  border-left-width: $gutter-tiny;
}
