$gutter-unit: 8px;

$gutter: $gutter-unit*2;

$gutter-nano: $gutter-unit/4;
$gutter-tiny: $gutter-unit/2;
$gutter-small: $gutter-unit*2;
$gutter-medium: $gutter-unit*4;
$gutter-large: $gutter-unit*6;
$gutter-xlarge: $gutter-unit*8;

$footer-background: $grey-3;
