<div class="case-status">
  <ul>
    <li>
      <a href="javascript:alert('Sorry! Not yet implemented in prototype')" class="nil">
        ME scrutiny
      </a>
    </li>
    <li>
      <a href="javascript:alert('Sorry! Not yet implemented in prototype')" class="nil">
        External examination
      </a>
    </li>
    <li>
      <a href="javascript:alert('Sorry! Not yet implemented in prototype')" class="nil">
        QAP and ME discussion
      </a>
    </li>
    <li>
      <a href="javascript:alert('Sorry! Not yet implemented in prototype')" class="nil">
        ME signed off cause of death
      </a>
    </li>
    <li>
      <a href="javascript:alert('Sorry! Not yet implemented in prototype')" class="nil">
        Discussion with informant
      </a>
    </li>
    <li>
      <a href="javascript:alert('Sorry! Not yet implemented in prototype')" class="nil">
        Informant assent
      </a>
    </li>
  </ul>
</div>
