<div class="cause-of-death">
  <ol class="shunt-medium">
    <li><span class="item">1a:</span> {{ session.cause['cause-1-a'] | capitalize }}</li>
    <li><span class="item">1b:</span> {{ session.cause['cause-1-b'] | capitalize }}</li>
    <li><span class="item">1c:</span> {{ session.cause['cause-1-c'] | capitalize }}</li>
    <li><span class="item">1d:</span> {{ session.cause['cause-1-d'] | capitalize }}</li>
  </ol>
  <ol>
    <li>
      <span class="item">2:</span> {{ session.cause['contributory-2'] | capitalize }}
    </li>
  </ol>
</div>
