{% extends '_layouts/admin.html' %}

{% block content %}
  <div class="section">
    <div class="breadcrumb">
      <ul>
        <li><a href="#">Cases</a></li>
        <li><a href="/case-overview">Unique case ref</a></li>
        <li>Deceased: add details</li>
      </ul>
    </div>
  </div>

  <form action="" class="section">

    <h1 class="heading-large">The deceased</h1>

    <div class="form-group">
      <label class="form-label-bold" for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" />
    </div>

    <div class="form-group">
      <fieldset>
        <legend>
          <span class="form-label-bold">
            Date of birth
          </span>
          <span class="form-hint">For example, {{ jsNow | date("subtract", 70, "years") | date("DD MM YYYY") }}</span>
        </legend>
        <div class="form-date">
          <div class="form-group form-group-day">
            <label class="form-label" for="dob-day">Day</label>
            <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
          </div>
          <div class="form-group form-group-month">
            <label class="form-label" for="dob-month">Month</label>
            <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
          </div>
          <div class="form-group form-group-year">
            <label class="form-label" for="dob-year">Year</label>
            <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
          </div>
        </div>
      </fieldset>
    </div>

    <div class="form-group">
      <fieldset>
        <legend>
          <span class="form-label-bold">Sex</span>
        </legend>
        <div class="multiple-choice">
          <input id="sex-female" type="radio" name="sex" value="female">
          <label for="sex-female">Female</label>
        </div>
        <div class="multiple-choice">
          <input id="sex-male" type="radio" name="sex" value="male">
          <label for="sex-male">Male</label>
        </div>
      </fieldset>
    </div>

    <fieldset>
      <div class="form-group">
        <label for="last-address-1" class="form-label-bold">
          Last residential address
        </label>
        <div>
          <input autocomplete="off" type="text" id="last-address-1" name="last-address-1" value="" class="form-control">
        </div>
        <div>
          <input autocomplete="off" type="text" name="last-address-2" value="" class="form-control">
        </div>
        <div>
          <input autocomplete="off" type="text" name="last-address-3" value="" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="last-address-4" class="form-label">
          Town or city
        </label>
        <input autocomplete="off" type="text" id="last-address-4" name="last-address-4" value="" class="form-control">
      </div>
      <div class="form-group">
        <label for="last-postcode" class="form-label">Postcode</label>
        <input autocomplete="off" type="text" id="last-postcode" name="last-postcode" value="" class="form-control">
      </div>
    </fieldset>

    <div class="form-group">
      <label class="form-label-bold" for="last-occupation">Last occupation</label>
      <input type="text" class="form-control" id="last-occupation" name="last-occupation" />
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="nhs-number">NHS number</label>
      <input type="text" class="form-control" id="nhs-number" name="nhs-number" />
      <!--<div>
        <a href="#">PDS lookup</a>
      </div>-->
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="implants-devices">Any implants or devices?</label>
      <textarea class="form-control" name="implants-devices" id="implants-devices" rows="5"></textarea>
    </div>

    <div class="form-group">
      <div class="floats">

        <div>
          <fieldset>
            <legend>
              <span class="form-label-bold">Any communicable infections?</span>
              <span class="form-hint">Select all that apply</span>
            </legend>
            <div class="multiple-choice">
              <input id="communicable-infections-1" name="communicable-infections" type="checkbox" value="0">
              <label for="communicable-infections-1">Inoculation / splash</label>
            </div>
            <div class="multiple-choice">
              <input id="communicable-infections-2" name="communicable-infections" type="checkbox" value="1">
              <label for="communicable-infections-2">Aerosol</label>
            </div>
            <div class="multiple-choice">
              <input id="communicable-infections-3" name="communicable-infections" type="checkbox" value="2">
              <label for="communicable-infections-3">Ingestion</label>
            </div>
            <div class="multiple-choice">
              <input id="communicable-infections-4" name="communicable-infections" type="checkbox" value="3">
              <label for="communicable-infections-4">Contact</label>
            </div>
          </fieldset>
        </div>

        <div>
          <fieldset>
            <legend>
              <span class="form-label-bold">ACDP hazard group</span>
              <span class="form-hint">Select all that apply</span>
            </legend>
            <div class="multiple-choice">
              <input id="acdp-1" name="acdp" type="checkbox" value="1">
              <label for="acdp-1">1</label>
            </div>
            <div class="multiple-choice">
              <input id="acdp-2" name="acdp" type="checkbox" value="2">
              <label for="acdp-2">2</label>
            </div>
            <div class="multiple-choice">
              <input id="acdp-3" name="acdp" type="checkbox" value="3">
              <label for="acdp-3">3</label>
            </div>
            <div class="multiple-choice">
              <input id="acdp-4" name="acdp" type="checkbox" value="4">
              <label for="acdp-4">4</label>
            </div>
          </fieldset>
        </div>

      </div>

      <h2 class="heading-large">The death</h2>

      <div class="floats">
        <div class="form-group">
          <fieldset>
            <legend>
              <span class="form-label-bold">
                Date of death
              </span>
              <span class="form-hint">For example, {{ jsNow | date("DD MM YYYY") }}</span>
            </legend>
            <div class="form-date">
              <div class="form-group form-group-day">
                <label class="form-label" for="dod-day">Day</label>
                <input class="form-control" id="dod-day" name="dod-day" type="number" pattern="[0-9]*" min="0" max="31">
              </div>
              <div class="form-group form-group-month">
                <label class="form-label" for="dod-month">Month</label>
                <input class="form-control" id="dod-month" name="dod-month" type="number" pattern="[0-9]*" min="0" max="12">
              </div>
              <div class="form-group form-group-year">
                <label class="form-label" for="dod-year">Year</label>
                <input class="form-control" id="dod-year" name="dod-year" type="number" pattern="[0-9]*" min="0" max="2016">
              </div>
            </div>
          </fieldset>
        </div>
        <div class="form-group">
          <fieldset>
            <legend>
              <span class="form-label-bold">
                Time of death
              </span>
              <span class="form-hint">For example, {{ jsNow | date("HH mm") }}</span>
            </legend>
            <div class="form-date">
              <div class="form-group form-group-day">
                <label class="form-label" for="tod-time-hour">Hour</label>
                <input class="form-control" id="tod-time-hour" name="tod-time-hour" type="number" pattern="[0-9]*" min="0" max="24">
              </div>
              <div class="form-group form-group-day">
                <label class="form-label" for="tod-time-mins">Minute</label>
                <input class="form-control" id="tod-time-mins" name="tod-time-mins" type="number" pattern="[0-9]*" min="0" max="59">
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="form-group">
        <fieldset>
          <legend>
            <span class="form-label-bold">Type of death</span>
          </legend>
          <div class="multiple-choice">
            <input id="type-1" type="radio" name="type-group" value="Unexpected">
            <label for="type-1">Unexpected</label>
          </div>
          <div class="multiple-choice">
            <input id="type-2" type="radio" name="type-group" value="Sudden, but not unexpected">
            <label for="type-2">Sudden, but not unexpected</label>
          </div>
          <div class="multiple-choice">
            <input id="type-3" type="radio" name="type-group" value="Expected">
            <label for="type-3">Expected</label>
          </div>
          <div class="multiple-choice">
            <input id="type-4" type="radio" name="type-group" value="Individual end of life plan">
            <label for="type-4">Individual end of life plan</label>
          </div>
        </fieldset>
      </div>

      <!-- if female, pregnancy within 1 year? -->
      <div class="form-group">
        <fieldset>
          <legend>
            <span class="form-label-bold">Was the deceased pregnant?</span>
          </legend>
          <div class="multiple-choice">
            <input id="pregnant-1" type="radio" name="pregnant" value="0">
            <label for="pregnant-1">No</label>
          </div>
          <div class="multiple-choice">
            <input id="pregnant-2" type="radio" name="pregnant" value="1">
            <label for="pregnant-2">Yes, at the time of death</label>
          </div>
          <div class="multiple-choice">
            <input id="pregnant-3" type="radio" name="pregnant" value="2">
            <label for="pregnant-3">Yes, within 42 days of death</label>
          </div>
          <div class="multiple-choice">
            <input id="pregnant-4" type="radio" name="pregnant" value="3">
            <label for="pregnant-4">Yes, between 43 days and 1 year of death</label>
          </div>
        </fieldset>
      </div>

      <fieldset>
        <div class="form-group">
          <label for="death-address-1" class="form-label-bold">
            Place of death
          </label>
          <div>
            <input autocomplete="off" type="text" id="death-address-1" name="death-address-1" value="" class="form-control">
          </div>
          <div>
            <input autocomplete="off" type="text" name="death-address-2" value="" class="form-control">
          </div>
          <div>
            <input autocomplete="off" type="text" name="death-address-3" value="" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="death-address-4" class="form-label">
            Town or city
          </label>
          <input autocomplete="off" type="text" id="death-address-4" name="death-address-4" value="" class="form-control">
        </div>
        <div class="form-group">
          <label for="death-postcode" class="form-label">Postcode</label>
          <input autocomplete="off" type="text" id="death-postcode" name="death-postcode" value="" class="form-control">
        </div>
      </fieldset>

      <div class="form-group">
        <label class="form-label-bold" for="last-care-org">Last care organisation</label>
        <input type="text" class="form-control" id="last-care-org" name="last-care-org" />
      </div>

      <button class="button" type="submit">Save details</button>
      <p>
        <a href="/case-overview" class="link-back">Cancel and go back to case overview</a>
      </p>
    </div>

  </form>

{% endblock %}
