{% extends '_layouts/admin.html' %}

{% block content %}
  <div class="section">
    <div class="breadcrumb">
      <ul>
        <li><a href="/cases">Cases</a></li>
        <li>{{ session.caseRef }}</li>
      </ul>
    </div>
  </div>

  <div class="section">
    <h1 class="bold-large">
      {{ session.caseRef }}
      <a href="/rename-case" class="font-xxsmall">Rename</a>
    </h1>
  </div>

  <div class="section floats bordered">
    <div class="case-status shunt-small">
      <h2 class="font-xsmall shunt-tiny">Status:
        {% set status = 'new' %}
        <span class="status-{{ status }}">{{ session.caseStatus }}</span>
      </h2>
      <ul>
        <li>
          <span>ME scrutiny</span>
        </li>
        <li>
          <span>External examination</span>
        </li>
        <li>
          <span>QAP and ME discussion</span>
        </li>
        <li>
          <span>ME signed off cause of death</span>
        </li>
        <li>
          <span>Discussion with informant</span>
        </li>
        <li>
          <span>Informant assent</span>
        </li>
      </ul>
    </div>
    <div class="shunt-tiny">
      <div class="font-xxsmall shunt-tiny">Edited</div>
      {{ session.modificationTimestamp | date('D MMMM YYYY [ at ] HH:mm') }}
    </div>
    <div class="shunt-tiny">
      <div class="font-xxsmall shunt-tiny">Created</div>
      {{ session.caseCreated | date('D MMMM YYYY [ at ] HH:mm') }}
    </div>
  </div>

  <div class="grid">

    <div class="panel-3-up">
      <h3 class="font-small shunt-small">
        {% if session.deceased %}
          {% set url = '/details-deceased' %}
        {% else %}
          {% set url = '/edit-deceased' %}
        {% endif %}
          <a href="{{ url }}">Deceased</a>
          {% if session.deceased %}
            <div class="bold-medium">
              {% if session.deceased['name'] %}
                <a href="{{ url }}">{{ session.deceased['name'] }}</a>
              {% else %}
                <span class="not-set">Name not yet added</span>
              {% endif %}
              </a>
            </div>
          {% endif %}
        </a>
      </h3>
      {% if session.deceased %}
        <table>
          <tr>
            <th scope="row">Died:</th>
            <td>
              {% if session.deceased['deathTimestamp'] %}
                {{ session.deceased['deathTimestamp'] | date("DD MMMM YYYY") }} at {{ session.deceased['deathTimestamp'] | date("HH[:]mm") }}
              {% else %}
                <span class="not-set">Not yet added</span>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">Age:</th>
            <td>
              {% if session.deceased['age'] %}
                {{ session.deceased['age'] }}
              {% else %}
                <span class="not-set">Not yet added</span>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">Type:</th>
            <td>
              {% if session.deceased['type-group'] %}
                {{ session.deceased['type-group'] | capitalize }}
              {% else %}
                <span class="not-set">Not yet added</span>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">Cause:</th>
            <td><a href="javascript:alert('Sorry! Not yet implemented in prototype')">cause not added</a></td>
          </tr>
        </table>
      {% else %}
        No details yet.
        <a href="/edit-deceased">Add details</a>
      {% endif %}
    </div>

    <div class="panel-3-up">
      <h3 class="font-small shunt-small">Events</a></h3>
      No events yet.
      <a href="javascript:alert('Sorry! Not yet implemented in prototype')">Add event</a>
    </div>

    <div class="panel-3-up">
      <h3 class="font-small shunt-small">
        {% if session.contacts > 0 %}
          Contacts
        {% else %}
          <a href="/add-contact">Contacts</a>
        {% endif %}
      </h3>
      {# Do 'examining' contacts first #}
      {% if session['contacts-examination'].length > 0 %}
        {% for contact in session['contacts-examination'] %}
          <div class="shunt-medium">
            <h5 class="font-xxsmall shunt-tiny">
              {{ contact['role'] | capitalize }}<br>
              <div class="bold-medium">
                <a href="/details-contact-examination/{{ contact['url-name'] }}">{{ contact['name'] }}</a>
              </div>
            </h5>
            <div class="shunt-tiny">
              {% for item in contact['methods'] %}
                {% if item['name'] == contact['primary-channel'] %}
                  {{ item['value'] }}
                {% endif %}
              {% endfor %}
            </div>
            <div class="shunt-tiny">
              <a href="/details-contact-examination/{{ contact['url-name'] }}">Full details</a>
            </div>
          </div>
        {% endfor %}
      {% endif %}

      {% if session['contacts-deceased'].length > 0 %}
        {% for contact in session['contacts-deceased'] %}
          <div class="shunt-medium">
            {% if contact['informant'] === 'yes' %}
              <div class="flag bold-xxsmall">Informant</div>
            {% endif %}
            <h5 class="font-xxsmall shunt-tiny">
              {{ contact['relationship'] | capitalize }}<br>
              <div class="bold-medium">
                <a href="/details-contact-deceased/{{ contact['url-name'] }}">{{ contact['name'] }}</a>
              </div>
            </h5>
            <div class="shunt-tiny">
              {% for item in contact['methods'] %}
                {% if item['name'] == contact['primary-channel'] %}
                  {{ item['value'] }}
                {% endif %}
              {% endfor %}
            </div>
            <div class="shunt-tiny">
              <a href="/details-contact-deceased/{{ contact['url-name'] }}">Full details</a>
            </div>
          </div>
        {% endfor %}
      {% endif %}

      {% if session.contacts == 0 %}
        No contacts assigned yet.
        <a href="/add-contact">Add contact</a>
      {% else %}
        <div>
          <p><a href="/add-contact">Add a new contact</a></p>
        </div>
      {% endif %}
    </div>

  </div>
{% endblock %}
