{% extends '_layouts/admin.html' %}

{% block content %}
  <div class="section">
    <div class="breadcrumb">
      <ul>
        <li><a href="/cases">Cases</a></li>
        <li>{{ session.caseRef }} overview</li>
      </ul>
    </div>
  </div>

  <div class="section-tinted">
    <div class="grid">
      <div class="panel-3-up">
        <h1 class="bold-large">
          {{ session.caseRef }}
          <a href="/rename-case" class="font-xxsmall">Rename</a>
        </h1>
      </div>
      <div class="panel-3-up panel-3-up-span-2">
        <div class="floats">
          <div class="shunt-tiny">
            <div class="font-xxsmall shunt-tiny">Status</div>
            {% set status = 'new' %}
            <span class="status-{{ status }}">{{ session.caseStatus | capitalize }}</span>
          </div>
          <div class="shunt-tiny">
            <div class="font-xxsmall shunt-tiny">Last edit</div>
            {{ session.modificationTimestamp | date('D MMMM YYYY [ at ] HH:mm') }}
          </div>
          <div class="shunt-tiny">
            <div class="font-xxsmall shunt-tiny">Created</div>
            {{ session.caseCreated | date('D MMMM YYYY [ at ] HH:mm') }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid">

    <div class="shunt-small panel-3-up">
      <h3 class="font-small shunt-small">
          Deceased
          {% if session.deceased %}
            <div class="bold-medium">
              {% if session.deceased['name'] %}
                <a href="/details-deceased">{{ session.deceased['name'] }}</a>
              {% else %}
                <a href="/details-deceased">Name not yet added</a>
              {% endif %}
            </div>
          {% endif %}
        </a>
      </h3>
      {% if session.deceased %}
        <div class="shunt-small">
          <div class="font-xxsmall">Died</div>
          {% if session.deceased['deathTimestamp'] %}
            {{ session.deceased['deathTimestamp'] | date("DD MMMM YYYY") }} at {{ session.deceased['deathTimestamp'] | date("HH[:]mm") }}
          {% else %}
            <span class="not-set">Not yet added</span>
          {% endif %}
        </div>

        <div class="shunt-small">
          <div class="font-xxsmall">Age</div>
          {% if session.deceased['age'] %}
            {{ session.deceased['age'] }}
          {% else %}
            <span class="not-set">Not yet added</span>
          {% endif %}
        </div>

        <div class="shunt-medium">
          <div class="font-xxsmall">Type of death</div>
          {% if session.deceased['type-group'] %}
            {{ session.deceased['type-group'] | capitalize }}
          {% else %}
            <span class="not-set">Not yet added</span>
          {% endif %}
        </div>
      {% else %}
        <p class="shunt-medium">
          No details yet.
          <a href="/edit-deceased">Add details</a>
        </p>
      {% endif %}
      <h4 class="font-small shunt-small">Cause of death</h4>
      {% if session.cause %}
        <div class="shunt-small">
          {% include '_includes/cause-of-death.html' %}
        </div>
        <a href="/edit-cause-of-death">Edit cause of death</a>
      {% else %}
        No details yet.
        <a href="/edit-cause-of-death">Add details</a>
      {% endif %}
    </div>

    <div class="shunt-small panel-3-up">
      <h3 class="font-small shunt-small">Contacts</h3>
      {# Do 'examining' contacts first #}
      {% if session['contacts-examination'].length > 0 %}
        {% for contact in session['contacts-examination'] %}
          <div class="shunt-medium">
            <h5 class="font-xxsmall shunt-tiny">
              {{ contact['role'] | capitalize }}<br>
              <div class="bold-medium">
                <a href="/details-contact-examination/{{ contact['url-name'] }}">{{ contact['name'] }}</a>
              </div>
            </h5>
            <div class="shunt-tiny">
              {% for item in contact['methods'] %}
                {% if item['name'] == contact['primary-channel'] %}
                  {{ item['value'] }}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      {% endif %}

      {% if session['contacts-deceased'].length > 0 %}
        {% for contact in session['contacts-deceased'] %}
          <div class="shunt-medium">
            <h5 class="font-xxsmall shunt-tiny">
              {% if contact['informant'] === 'yes' %}
                <span class="flag-informant">Informant</span>
              {% endif %}
              {{ contact['relationship'] | capitalize }}<br>
              <div class="bold-medium">
                <a href="/details-contact-deceased/{{ contact['url-name'] }}">{{ contact['name'] }}</a>
              </div>
            </h5>
            <div class="shunt-tiny">
              {% for item in contact['methods'] %}
                {% if item['name'] == contact['primary-channel'] %}
                  {{ item['value'] }}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      {% endif %}

      {% if session.contacts == 0 %}
        No contacts assigned yet.
        <a href="/add-contact">Add contact</a>
      {% else %}
        <div>
          <p><a href="/add-contact">Add a new contact</a></p>
        </div>
      {% endif %}
    </div>

    <div class="shunt-small panel-3-up">
      <h3 class="font-small shunt-small">Events</a></h3>
      <div class="shunt-medium">
        {% include '_includes/case-status-tree.html' %}
      </div>
      {% if session['generic-events'] %}
        <h3 class="font-small shunt-small">Other events</a></h3>
        {% for event in session['generic-events'] %}
          <a href="/details-generic-event/{{ event['event-url-name'] }}">{{ event['event-name'] | capitalize }}</a>
        {% endfor %}
      {% endif %}
      <p>
        <a href="/edit-generic-event">Add another event</a>
      </p>
    </div>
  </div>

{% endblock %}
