{% extends '_layouts/admin.html' %}

{% block content %}
  <div class="section">
    <h1>All cases</h1>
  </div>

  <div class="section">
    <table>
      <thead>
        <tr>
          <th scope="col">Case</th>
          <th scope="col">Deceased</th>
          <th scope="col">Date and time of death</th>
          <th scope="col">Last modified</th>
          <th scope="col">Date opened</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="/case-overview">
              {{ session.caseRef }}
            </a>
          </td>
          <td>
            {% if session.deceased.name %}
              {{ session.deceased.name }}
            {% else %}
              <span class="not-set">Name not yet added</span>
            {% endif %}
          </td>
          <td>
            {% if session.deceased.deathTimestamp %}
              {{ session.deceased.deathTimestamp | date('YYYY[-]MM[-]DD[ at ]HH[:]mm') }}
            {% else %}
              <span class="not-set">Not yet added</span>
            {% endif %}
          </td>
          <td>last mod</td>
          <td>opened timestamp</td>
          <td>{{ session.caseStatus }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="section">
    <a href="#">Open a new case</a>
  </div>

{% endblock %}
