{% extends '_layouts/admin.html' %}

{% block content %}
  <div class="section">
    <div class="breadcrumb">
      <ul>
        <li><a href="/cases">Cases</a></li>
        <li><a href="/case-overview">{{ session.caseRef }} overview</a></li>
        <li>Contact details</li>
      </ul>
    </div>
  </div>

  <div class="section floats section-tinted">
    <div class="shunt-small">
      {% if details['informant'] === 'yes' %}
        <span class="flag-informant font-xxsmall">Informant</span>
      {% endif %}
      <span class="font-xxsmall">{{ details['relationship'] | capitalize }}</span>
      <h1 class="bold-large">
        {% if details['name'] %}
          {{ details['name'] }}
        {% else %}
          <span class="not-set">Name not yet added</span>
        {% endif %}
      </h1>
    </div>
    <div class="shunt-small">
      <h2 class="font-xxsmall">Primary contact</h2>
      {% for item in details['methods'] %}
        {% if item['name'] == details['primary-channel'] %}
          <b class="font-large">{{ item['value'] }}</b>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="section bordered">
    <h4 class="font-small shunt-small">Other contact details</h4>
    {% for item in details['methods'] %}
      {% if item['name'] != details['primary-channel'] %}
        {% if item['value'] %}
          <div class="shunt-small">
            <div class="font-xxsmall">{{ item['title'] | capitalize }}</div>
            {% if item['name'] == 'address' %}
              {% for line in item['value'] %}
                {% if line != '' %}
                  {{ line }}<br>
                {% endif %}
              {% endfor %}
            {% else %}
              {{ item['value'] }}
            {% endif %}
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="section bordered">
    <div class="shunt-small">
      <h2 class="font-xxsmall">Present at death</h2>
      {{ details['present-at-death'] | capitalize }}
    </div>
    <div class="shunt-small">
      <h2 class="font-xxsmall">Notes</h2>
      {% if details['notes'] !== '' %}
        {{ details['notes'] | striptags(true) | escape | nl2br }}
      {% else %}
        <div class="not-set">No notes</div>
      {% endif %}
    </div>
  </div>

  <div class="section">
    <p>
      <a href="/edit-contact-deceased/{{ details['url-name'] }}">Edit details</a>
    </p>
    <p>
      <a href="/case-overview">Go to case overview</a>
    </p>
  </div>

{% endblock %}
