{% extends '_layouts/admin.html' %}

{% block content %}
  <div class="section">
    <div class="breadcrumb">
      <ul>
        <li><a href="/cases">Cases</a></li>
        <li><a href="/case-overview">Unique case ref</a></li>
        <li>Deceased</li>
      </ul>
    </div>
  </div>

  <div class="section">
    <h1>
      Deceased
      <div class="bold-large">{{ session.deceased['name'] }}</div>
    </h1>
  </div>

  <div class="section floats">
    <div class="shunt-tiny">
      Died<br>
      <span class="bold-small">
        {% if session.deceased['deathTimestamp'] %}
          {{ session.deceased['deathTimestamp'] | date("DD MMMM YYYY") }}
        {% endif %}
        {% if session.deceased['tod-hour'] %}
           at {{ session.deceased['deathTimestamp'] | date("HH[:]mm") }}
        {% endif %}
      </span>
    </div>
    <div class="shunt-tiny">
      Aged<br>
      <span class="bold-small">
        {% if session.deceased['age'] %}
          {{ session.deceased['age'] }}
        {% endif %}
      </span>
    </div>
    <div class="shunt-tiny">
      Type of death<br>
      <span class="bold-small">{{ session.deceased['type-group'] | capitalize }}</span>
    </div>
  </div>

  <div class="section bordered">
    <div class="shunt-small">
      Cause of death
      <div>
        <a href="#">Cause of death not yet added</a>
      </div>
    </div>
  </div>

  <div class="section bordered">
    <div class="floats">
      <div class="shunt-tiny">
        Date of birth<br>
        {% if session.deceased['birth'] %}
          {{ session.deceased['birth'] | date("DD MMMM YYYY") }}
        {% endif %}
      </div>
      <div class="shunt-tiny">
        NHS Number<br>
        <span>{{ session.deceased['nhs-number'] }}</span>
      </div>
      <div class="shunt-tiny">
        Gender<br>
        <span>
          {{ session.deceased['sex'] | capitalize }}
          {% if session.deceased['pregnant'] and session.deceased['pregnant'] != '0' %}
            {{ session.deceased['pregnant'] }}
          {% endif %}
        </span>
      </div>
    </div>
  </div>

  <div class="section floats bordered">
    <div class="shunt-tiny">
      <div class="shunt-tiny">Place of death</div>
      <!--<a href="#">Should link?</a>-->
      {{ session.deceased['death-address-1'] | title }}<br>
      {% if session.deceased['death-address-2'] %}
        {{ session.deceased['death-address-2'] | title }}<br>
      {% endif %}
      {% if session.deceased['death-address-3'] %}
        {{ session.deceased['death-address-3'] | title }}<br>
      {% endif %}
      {% if session.deceased['death-address-4'] %}
        {{ session.deceased['death-address-4'] | title }}<br>
      {% endif %}
      {% if session.deceased['death-postcode'] %}
        {{ session.deceased['death-postcode'] | upper }}
      {% endif %}
    </div>
    <div class="shunt-tiny">
      <div class="shunt-tiny">Last care organisation</div>
      <!--<a href="#">Should link?</a>-->
      {{ session.deceased['last-care-org'] }}
    </div>
  </div>

  <div class="section floats bordered">
    <div class="shunt-tiny">
      <div class="shunt-tiny">Implants or devices</div>
      {{ session.deceased['implants-devices'] }}
    </div>
    <div class="shunt-tiny">
      <span>Communicable infections<br></span>
      {% if session.deceased['communicable-infections'] %}
        {% for item in session.deceased['communicable-infections'] %}
          {{ item | title }}<br>
        {% else %}
          None<br>
        {% endfor %}
      {% endif %}
    </div>
    <div class="shunt-tiny">
      <span>ACDP hazard groups<br></span>
      {% if session.deceased['acdp'] %}
        {% if session.deceased['acdp'] !== '' %}
          {{ session.deceased['acdp'] }}
        {% else %}
          None
        {% endif %}
      {% endif %}
    </div>
  </div>

  <div class="section floats bordered">
    <div class="shunt-tiny">
      <div class="shunt-tiny">Last residential address</div>
      {{ session.deceased['last-address-1'] | title }}<br>
      {% if session.deceased['last-address-2'] %}
        {{ session.deceased['last-address-2'] | title }}<br>
      {% endif %}
      {% if session.deceased['last-address-3'] %}
        {{ session.deceased['last-address-3'] | title }}<br>
      {% endif %}
      {% if session.deceased['last-address-4'] %}
        {{ session.deceased['last-address-4'] | title }}<br>
      {% endif %}
      {% if session.deceased['last-postcode'] %}
        {{ session.deceased['last-postcode'] | upper }}
      {% endif %}
    </div>
    <div class="shunt-tiny">
      <div class="shunt-tiny">Last occupation</div>
      {{ session.deceased['last-occupation'] | title }}
    </div>
  </div>

  <div class="section bordered">
    <a href="/edit-deceased">Edit details</a>
  </div>

  <div class="section">
    <a href="/case-overview" class="link-back">Go to Unique case ref overview</a>
  </div>

{% endblock %}
