{% extends '_layouts/admin.html' %}

{% block content %}
  <div class="section">
    <div class="breadcrumb">
      <ul>
        <li><a href="/cases">Cases</a></li>
        <li><a href="/case-overview">{{ session.caseRef }} overview</a></li>
        <li>Deceased</li>
      </ul>
    </div>
  </div>

  <div class="section">
    <h1>
      <div class="font-small">Deceased</div>
      {% if session.deceased['name'] %}
        {{ session.deceased['name'] }}
      {% else %}
        <span class="not-set">Name not yet added</span>
      {% endif %}
    </h1>
  </div>

  <div class="section floats">
    <div class="shunt-tiny">
      Died
      <div class="bold-small">
        {% if session.deceased['deathTimestamp'] %}
          {% if session.deceased['deathTimestamp'] %}
            {{ session.deceased['deathTimestamp'] | date("DD MMMM YYYY") }}
          {% endif %}
          {% if session.deceased['tod-hour'] %}
             at {{ session.deceased['deathTimestamp'] | date("HH[:]mm") }}
          {% endif %}
        {% else %}
          <span class="not-set">Not yet added</span>
        {% endif %}
      </div>
    </div>
    <div class="shunt-tiny">
      Aged
      <div class="bold-small">
        {% if session.deceased['age'] %}
          {{ session.deceased['age'] }}
        {% else %}
          <span class="not-set">Not yet added</span>
        {% endif %}
      </div>
    </div>
    <div class="shunt-tiny">
      Type of death
      <div class="bold-small">
        {% if session.deceased['type-group'] %}
          {{ session.deceased['type-group'] | capitalize }}
        {% else %}
          <span class="not-set">Not yet added</span>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="section bordered">
    <div class="floats">
      <div class="shunt-tiny">
        <div class="font-xxsmall">Date of birth</div>
        {% if session.deceased['birth'] %}
          {{ session.deceased['birth'] | date("DD MMMM YYYY") }}
        {% else %}
          <span class="not-set">Not yet added</span>
        {% endif %}
      </div>
      <div class="shunt-tiny">
        <div class="font-xxsmall">NHS Number</div>
        {% if session.deceased['nhs-number'] %}
          {{ session.deceased['nhs-number'] }}
        {% else %}
          <span class="not-set">Not yet added</span>
        {% endif %}
      </div>
      <div class="shunt-tiny">
        <div class="font-xxsmall">Gender</div>
        <span>
          {% if session.deceased['nhs-number'] %}
            {{ session.deceased['sex'] | capitalize }}
          {% else %}
            <span class="not-set">Not yet added</span>
          {% endif %}
          {% if session.deceased['pregnant'] and session.deceased['pregnant'] != '0' %}
            , {{ session.deceased['pregnant'] }}
          {% endif %}
        </span>
      </div>
    </div>
  </div>

  <div class="section floats bordered">
    <div class="shunt-tiny">
      <div class="font-xxsmall">Place of death</div>
      <!--<a href="#">Should link?</a>-->
      {% if session.deceased['death-address-1'] %}
        {{ session.deceased['death-address-1'] | title }}<br>
      {% else %}
        <span class="not-set">Not yet added</span>
      {% endif %}
      {% if session.deceased['death-address-2'] %}
        {{ session.deceased['death-address-2'] | title }}<br>
      {% endif %}
      {% if session.deceased['death-address-3'] %}
        {{ session.deceased['death-address-3'] | title }}<br>
      {% endif %}
      {% if session.deceased['death-address-4'] %}
        {{ session.deceased['death-address-4'] | title }}<br>
      {% endif %}
      {% if session.deceased['death-postcode'] %}
        {{ session.deceased['death-postcode'] | upper }}
      {% endif %}
    </div>
    <div class="shunt-tiny">
      <div class="font-xxsmall">Last care organisation</div>
      <!--<a href="#">Should link?</a>-->
      {% if session.deceased['last-care-org'] %}
        {{ session.deceased['last-care-org'] }}
      {% else %}
        <span class="not-set">Not yet added</span>
      {% endif %}
    </div>
  </div>

  <div class="section floats bordered">
    <div class="shunt-tiny">
      <div class="font-xxsmall">Implants or devices</div>
      {% if session.deceased['implants-devices'] %}
        {{ session.deceased['implants-devices'] }}
      {% else %}
        <span class="not-set">Not yet added</span>
      {% endif %}
    </div>
    <div class="shunt-tiny">
      <div class="font-xxsmall">Communicable infections</div>
      {% if session.deceased['communicable-infections'] %}
        {% for item in session.deceased['communicable-infections'] %}
          {{ item | title }}<br>
        {% endfor %}
      {% else %}
        <span class="not-set">None</span>
      {% endif %}
    </div>
    <div class="shunt-tiny">
      <div class="font-xxsmall">ACDP hazard groups</div>
      {% if session.deceased['acdp'] %}
        {{ session.deceased['acdp'] }}
      {% else %}
        <span class="not-set">None</span>
      {% endif %}
    </div>
  </div>

  <div class="section floats bordered">
    <div class="shunt-tiny">
      <div class="font-xxsmall">Last residential address</div>
      {% if session.deceased['last-address-1'] %}
        {{ session.deceased['last-address-1'] | title }}<br>
      {% else %}
        <span class="not-set">Not yet added</span>
      {% endif %}
      {% if session.deceased['last-address-2'] %}
        {{ session.deceased['last-address-2'] | title }}<br>
      {% endif %}
      {% if session.deceased['last-address-3'] %}
        {{ session.deceased['last-address-3'] | title }}<br>
      {% endif %}
      {% if session.deceased['last-address-4'] %}
        {{ session.deceased['last-address-4'] | title }}<br>
      {% endif %}
      {% if session.deceased['last-postcode'] %}
        {{ session.deceased['last-postcode'] | upper }}
      {% endif %}
    </div>
    <div class="shunt-tiny">
      <div class="font-xxsmall">Last occupation</div>
      {% if session.deceased['last-occupation'] %}
        {{ session.deceased['last-occupation'] | title }}
      {% else %}
        <span class="not-set">Not yet added</span>
      {% endif %}
    </div>
  </div>

  <div class="section">
    <p>
      <a href="/edit-deceased">Edit details</a>
    </p>
    <p>
      <a href="/case-overview">Go to case overview</a>
    </p>
  </div>

{% endblock %}
