{% extends '_layouts/admin.html' %}

{% block content %}
  <div class="section">
    <div class="breadcrumb">
      <ul>
        <li><a href="#">Cases</a></li>
        <li><a href="/case-overview">Unique case ref</a></li>
        <li>Deceased</li>
      </ul>
    </div>
  </div>

  <div class="section">
    <h1>
      Deceased
      <div class="bold-large">Catherine Jefferies McNulty</div>
    </h1>
  </div>

  <div class="section floats">
    <div class="shunt-tiny">
      Died<br>
      <span class="bold-small">21st November 2017 at 21:40</span>
    </div>
    <div class="shunt-tiny">
      Aged<br>
      <span class="bold-small">47</span>
    </div>
    <div class="shunt-tiny">
      Type of death<br>
      <span class="bold-small">Sudden but not unexpected</span>
    </div>
  </div>

  <div class="section bordered">
    <div class="shunt-small">
      Cause of death
      <div>
        <a href="#">Cause of death not yet added</a>
      </div>
    </div>
  </div>

  <div class="section bordered">
    <div class="floats">
      <div class="shunt-tiny">
        Date of birth<br>
        <span class="bold-small">12th May 1970</span>
      </div>
      <div class="shunt-tiny">
        NHS Number<br>
        <span class="bold-small">943-476-5919</span>
      </div>
      <div class="shunt-tiny">
        Gender<br>
        <span class="bold-small">Female, <b>not</b> pregnant within one year of death</span>
      </div>
    </div>
  </div>

  <div class="section floats bordered">
    <div class="shunt-tiny">
      <div class="shunt-tiny">Place of death</div>
      <a href="#">Charing Cross Hospital</a><br>
      Fulham Palace Road<br>
      London<br>
      W6 8RF
    </div>
    <div class="shunt-tiny">
      <div class="shunt-tiny">Last care organisation</div>
      <a href="#">National Health Service</a>
    </div>
  </div>

  <div class="section floats bordered">
    <div class="shunt-tiny">
      <div class="shunt-tiny">Implants or devices</div>
      None
    </div>
    <div class="shunt-tiny">
      <span>Communicable infections<br></span>
      None
    </div>
  </div>

  <div class="section floats bordered">
    <div class="shunt-tiny">
      <div class="shunt-tiny">Last residential address</div>
      12 Gasmere Heights<br>
      Chancery Road<br>
      London<br>
      SW13 1BR
    </div>
    <div class="shunt-tiny">
      <div class="shunt-tiny">Last occupation</div>
      Primary School Teacher
    </div>
  </div>

  <div class="section bordered">
    <a href="#">Edit details</a>
  </div>

  <div class="section">
    <a href="/case-overview" class="link-back">Back to Unique case ref overview</a>
  </div>

{% endblock %}
