{% extends '_layouts/admin.html' %}

{% block header_before %}
<a href="#" id="fill-details" tabindex="-1" style="position: absolute; right: 0; top: 0; color: #00ad93;">
  Fill in form
</a>
{% endblock %}

{% block content %}
  <div class="section">
    <div class="breadcrumb">
      <ul>
        <li><a href="/cases">Cases</a></li>
        <li><a href="/case-overview">{{ session.caseRef }}</a></li>
        {% if edit %}
          <li>Edit contact</li>
        {% else %}
          <li>Add contact</li>
        {% endif %}
      </ul>
    </div>
  </div>

  <form method="post" class="section text">

    <h1 class="bold-large shunt-medium">Personal details</h1>

    <div class="form-group">
      <label class="form-label-bold" for="name">Contact name</label>
      <input type="text" class="form-control" id="name" name="name"
        value="{{ details['name'] }}">
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="relationship">Relationship to the deceased</label>
      <span class="form-hint">For example widow or professional carer</span>
      <input type="text" class="form-control" id="relationship" name="relationship"
        value="{{ details['relationship'] }}">
    </div>

    <div class="form-group">
      <fieldset>
        <legend>
          <span class="form-label-bold">Present at death?</span>
        </legend>
        <div class="multiple-choice">
          <input id="present-yes" type="radio" name="present-at-death" value="yes"
            {% if details['present-at-death'] == "yes" %}checked="checked"{% endif %}>
          <label for="present-yes">Yes</label>
        </div>
        <div class="multiple-choice">
          <input id="present-no" type="radio" name="present-at-death" value="no"
            {% if details['present-at-death'] == "no" %}checked="checked"{% endif %}>
          <label for="present-no">No</label>
        </div>
      </fieldset>
    </div>

    <div class="form-group">
      <fieldset>
        <legend>
          <span class="form-label-bold">Is the informant?</span>
        </legend>
        <div class="multiple-choice">
          <input id="informant-yes" type="radio" name="informant" value="yes"
            {% if details['informant'] == "yes" %}checked="checked"{% endif %}>
          <label for="informant-yes">Yes</label>
        </div>
        <div class="multiple-choice">
          <input id="informant-no" type="radio" name="informant" value="no"
            {% if details['informant'] == "no" %}checked="checked"{% endif %}>
          <label for="informant-no">No</label>
        </div>
      </fieldset>
    </div>

    <h2 class="bold-large shunt-medium">Contact details</h2>

    <div class="form-group">
      <label class="form-label-bold" for="tel-primary">Contact telephone 1</label>
      <span class="form-hint">For example a mobile number</span>
      <input type="text" class="form-control" id="tel-primary" name="tel-primary"
        value="{{ details['methods'][0]['value'] }}">
      <div class="multiple-choice">
        <input type="radio" class="form-control" id="primary-channel-1" name="primary-channel" value="tel-primary"
          {{ 'checked="checked"' | safe if details['primary-channel'] === 'tel-primary' }}>
        <label for="primary-channel-1">Primary contact channel</label>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="tel-secondary">Contact telephone 2</label>
      <span class="form-hint">For example a work landline</span>
      <input type="text" class="form-control" id="tel-secondary" name="tel-secondary"
        value="{{ details['methods'][1]['value'] }}">
      <div class="multiple-choice">
        <input type="radio" class="form-control" id="primary-channel-2" name="primary-channel" value="tel-secondary"
          {{ 'checked="checked"' | safe if details['primary-channel'] === 'tel-secondary' }}>
        <label for="primary-channel-2">Primary contact channel</label>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email"
        value="{{ details['methods'][3]['value'] }}">
      <div class="multiple-choice">
        <input type="radio" class="form-control" id="primary-channel-4" name="primary-channel" value="email"
          {{ 'checked="checked"' | safe if details['primary-channel'] === 'email' }}>
        <label for="primary-channel-4">Primary contact channel</label>
      </div>
    </div>

    <fieldset>
      <div class="form-group">
        <label for="address-1" class="form-label-bold">
          Address
        </label>
        <div>
          <input type="text" id="address-1" name="address-1" class="form-control"
            value="{{ details['methods'][4]['value'][0] }}">
        </div>
        <div>
          <input type="text" id="address-2" name="address-2" class="form-control"
            value="{{ details['methods'][4]['value'][1] }}">
        </div>
        <div>
          <input type="text" id="address-3" name="address-3" class="form-control"
            value="{{ details['methods'][4]['value'][2] }}">
        </div>
        <div>
          <input type="text" id="address-4" name="address-4" class="form-control"
            value="{{ details['methods'][4]['value'][3] }}">
        </div>
      </div>
      <div class="form-group">
        <label for="postcode" class="form-label">Postcode</label>
        <input type="text" id="postcode" name="postcode" class="form-control form-control-1-2"
          value="{{ details['methods'][4]['value'][4] }}">
      </div>
    </fieldset>

    <div class="form-group">
      <label class="form-label-bold" for="notes">Notes</label>
      <textarea class="form-control" name="notes" id="notes" rows="5">{{ details['notes'] }}</textarea>
    </div>

    <button class="button" type="submit">Save contact details</button>
    <p>
      <a href="/add-contact" class="link-back">Cancel and go back</a>
    </p>

  </form>

{% endblock %}


{% block body_after %}
<script type="text/javascript">
  $(function() {
    $('#fill-details').on('click', function(e) {
      e.preventDefault()
      $('#name').val('Irma Wescott')
      $('#relationship').val('Widow')
      $('#present-yes').click();
      $('#informant-yes').click();
      $('#tel-primary').val('01189 203 302')
      $('#primary-channel-1').click();
      $('#email').val('iwestcott526@btworld.com')
      $('#address-1').val('4 Rowallan Road');
      $('#address-2').val('London');
      $('#postcode').val('SW6 6BU');
    })
  });
</script>
{% endblock %}
