{% extends '_layouts/admin.html' %}

{% block header_before %}
<a href="#" id="fill-details" tabindex="-1" style="position: absolute; right: 0; top: 0; color: #00ad93;">
  Fill in form
</a>
{% endblock %}


{% block content %}
<div class="section">
  <div class="breadcrumb">
    <ul>
      <li><a href="/cases">Cases</a></li>
      <li><a href="/case-overview">{{ session.caseRef }} overview</a></li>
      {% if edit %}
        <li>Edit event</li>
      {% else %}
        <li>Add event</li>
      {% endif %}
    </ul>
  </div>
</div>

<form method="post" class="section text">

  <h1 class="bold-large shunt-medium">Event</h1>

  <div class="form-group">
    <label class="form-label-bold" for="event-name">Event name</label>
    <span class="form-hint">For example 'Telephone call with the informant'</span>
    <input type="text" class="form-control" id="event-name" name="event-name"
      value="{{ details['event-name'] }}">
  </div>

  <div class="floats">
    <div class="form-group">
      <fieldset>
        <legend>
          <span class="form-label-bold">
            Event date
          </span>
          <span class="form-hint">For example, {{ jsNow | date("DD MM YYYY") }}</span>
        </legend>
        <div class="form-date">
          <div class="form-group form-group-day">
            <label class="form-label" for="event-day">Day</label>
            <input class="form-control" id="event-day" name="event-day" type="number" pattern="[0-9]*" min="0" max="31"
              value="{{ details['event-day'] }}">
          </div>
          <div class="form-group form-group-month">
            <label class="form-label" for="event-month">Month</label>
            <input class="form-control" id="event-month" name="event-month" type="number" pattern="[0-9]*" min="0" max="12"
              value="{{ details['event-month'] }}">
          </div>
          <div class="form-group form-group-year">
            <label class="form-label" for="event-year">Year</label>
            <input class="form-control" id="event-year" name="event-year" type="number" pattern="[0-9]*" min="0" max="{{ jsNow | date('YYYY') }}"
              value="{{ details['event-year'] }}">
          </div>
        </div>
      </fieldset>
    </div>
    <div class="form-group">
      <fieldset>
        <legend>
          <span class="form-label-bold">
            Event time
          </span>
          <span class="form-hint">For example, {{ jsNow | date("HH mm") }}</span>
        </legend>
        <div class="form-date">
          <div class="form-group form-group-day">
            <label class="form-label" for="event-hour">Hour</label>
            <input class="form-control" id="event-hour" name="event-hour" type="number" pattern="[0-9]*" min="00" max="24"
              value="{{ details['event-hour'] }}">
          </div>
          <div class="form-group form-group-day">
            <label class="form-label" for="event-mins">Minute</label>
            <input class="form-control" id="event-mins" name="event-mins" type="number" pattern="[0-9]*" min="00" max="59"
              value="{{ details['event-mins'] }}">
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="form-group">
    <fieldset>
      <legend>
        <span class="form-label-bold">
          Event duration
        </span>
        <span class="form-hint">For example, 1 30</span>
      </legend>
      <div class="form-date">
        <div class="form-group form-group-day">
          <label class="form-label" for="event-duration-hours">Hours</label>
          <input class="form-control" id="event-duration-hours" name="event-duration-hours" type="number" pattern="[0-9]*" min="00" max="24"
            value="{{ details['event-duration-hours'] }}">
        </div>
        <div class="form-group form-group-day">
          <label class="form-label" for="event-duration-mins">Minutes</label>
          <input class="form-control" id="event-duration-mins" name="event-duration-mins" type="number" pattern="[0-9]*" min="00" max="59"
            value="{{ details['event-duration-mins'] }}">
        </div>
      </div>
    </fieldset>
  </div>

  <div class="form-group">
    <label class="form-label-bold" for="event-synopsis">
      Synopsis
    </label>
    <textarea id="event-synopsis" name="event-synopsis" class="form-control" rows="10">{{ details['event-synopsis'] }}</textarea>
  </div>

  <button class="button" type="submit">Save</button>
  <p>
    <a href="/case-overview" class="link-back">Cancel and go back</a>
  </p>

</form>
{% endblock %}


{% block body_after %}
<script type="text/javascript">
  $(function() {
    $('#fill-details').on('click', function(e) {
      e.preventDefault();
      $('#event-name').val('Phone call with informant');
      $('#event-day').val('20');
      $('#event-month').val('12');
      $('#event-year').val('2017');
      $('#event-hour').val('09');
      $('#event-mins').val('07');
      $('#event-duration-hours').val('');
      $('#event-duration-mins').val('25');
      $('#event-synopsis').val('Called informant to let them know that the ME and QAP discussion had happened, and that the ME will call them tomorrow.');
    })
  });
</script>
{% endblock %}
