{% extends '_layouts/admin.html' %}

{% block content %}
  <div class="section">
    <h1>Death certification reform programme</h1>
    <div class="text">
      <p>
        This is a prototype aiming to provide a system that assists a medical
        examiner’s office in:
      </p>
      <ul>
        <li>assembling a case</li>
        <li>tracking the required events</li>
        <li>recording pertinent information</li>
      </ul>
      <div class="panel panel-border-wide">
        <p>
          Data throughout the prototype is saved using a session in memory only.
          To start a new prototype journey with an empty session, return to this
          page by using the “Medical Examiner Service Alpha” link in the masthead.
        </p>
      </div>
      <p>
        <a href="/start">Enter prototype</a>
      </p>
    </div>
  </div>
{% endblock %}
